.imgs{
    box-shadow: 1px 2px 10px grey;
    border-radius: 10px;
}
.container {
  position: relative;
  text-align: center;
  color: rgb(20, 20, 21); margin-top: 10px;
  margin-bottom: 10px;
  /* box-shadow: 1px 2px 10px grey; */
  border-radius: 10px;
}
.tool{
    border-radius: 15px 50px 30px ;
   
    border-color: aqua;
}
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
